* {
  box-sizing: border-box;
  margin: 0;
}

body {
  font-family: "Montserrat";
  overflow-x: hidden;
}

img {
  display: block;
  width: 100%;
}

a {
  text-decoration: none;
  color: white;
}

.container {
  width: 90%;
  max-width: 1200px;
  margin: auto;
}

/* Header --------------------------------------------------------- */

header {
  position: absolute;
  width: 100%;
  top: 50px;
}

header .container {
  display: flex;
  align-items: center;
}

.link-logo {
  font-weight: 600;
  font-size: 30px;
  margin-right: 70px;
}

.nav-links__link {
  text-transform: uppercase;
  font-size: 11px;
  font-weight: 500;
  letter-spacing: 3px;
  opacity: 0.65;
}

.nav-links__link:not(:last-child) {
  margin-right: 30px;
}

.nav-links__link.active,
.nav-links__link:hover {
  opacity: 1;
}

/* Hero Area ------------------------------------------------------- */

#hero {
  min-height: 120vh;
  background-color: #00000099;
  display: flex;
  align-items: center;
}

.hero-message {
  font-size: 3.75rem;
  color: white;
  font-weight: 600;
  line-height: 1.5;
  max-width: 760px;
  margin-bottom: 5.8rem;
}

.btn {
  color: white;
  border: 2px solid #cc3333;
  padding: 20px 80px 20px 40px;
  font-size: 12px;
  font-weight: 600;
  letter-spacing: 3px;
  text-transform: uppercase;
}

.social-links {
  position: absolute;
  top: 50px;
  right: 50px;
}

.social-links__logo-container {
  width: 36px;
  padding: 8px;
  margin-bottom: 16px;
}

/* Nuestros Servicios -------------------------------------------- */

#servicios {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 90px 0;
}

.section-header {
  position: relative;
  font-size: 48px;
  font-weight: 500;
  margin-bottom: 90px;
  z-index: 2;
}

.section-header::before {
  content: "";
  background-color: #222222;
  min-width: 10000px;
  height: 70px;
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  left: -20px;
  z-index: -1;
}

.section-header--white {
  color: white;
}

.servicio-top-info {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 100px;
}

.top-info-copy {
  color: #333333;
  width: 65%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.top-info-header {
  font-size: 48px;
  font-weight: 500;
  position: relative;
  margin-bottom: 75px;
}

.top-info-header::after {
  position: absolute;
  content: "";
  width: 190px;
  height: 7px;
  background-color: #cc3333;
  top: calc(100% + 20px);
  left: 50%;
  transform: translate(-50%, 0);
}

.top-info-txt {
  font-size: 18px;
  line-height: 30px;
  letter-spacing: 0.1em;
}

.top-info-icon-container {
  width: 25%;
}

.info-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  margin-bottom: 30px;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
  padding: 40px 28px;
  background-color: #cc3333;
  color: white;
  max-width: 350px;
  margin: 0 25px;
  margin-bottom: 60px;
}

.card-icon-container {
  /* width: 70px; */
  height: 60px;
  margin-bottom: 34px;
}

.card-icon-container img {
  width: auto;
  height: 100%;
}

.card-title {
  position: relative;
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 0.1em;
  margin-bottom: 60px;
}

.card-title::after {
  content: "";
  width: 190px;
  height: 3px;
  background-color: white;
  position: absolute;
  top: calc(100% + 25px);
  left: 50%;
  transform: translate(-50%, 0);
}

.card-description {
  text-align: center;
  line-height: 30px;
  letter-spacing: 0.1em;
  font-size: 14px;
}

.wide-card {
  flex-direction: row;
  align-items: center;
  max-width: 715px;
  padding: 45px 50px;
}

.card-icon-header-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 43%;
  margin-right: 75px;
  position: relative;
  top: 20px;
}

.card-icon-header-container .card-icon-container {
  height: 76px;
}

/* Portafolio -------------------------------------------------------- */

#portafolio {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #333333;
  position: relative;
  padding: 90px 0;
}

.section-header--gray {
  color: #929292;
}

.portafolios-container {
  display: flex;
  justify-content: center;
}

.portafolio {
  background-color: #222222;
  padding: 65px;
  border-radius: 10px;
  position: relative;
  margin: 0 80px;
  cursor: pointer;
  transition: all 0.3s linear;
  position: relative;
}

.portafolio:hover .ver-proyectos {
  padding: 7px 30px;
}

.proyectos {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  border-radius: 10px;
  overflow: hidden;
  opacity: 0;
  transition: all 0.3s linear;
  display: flex;
  scroll-behavior: smooth;
}

.proyectos--show {
  opacity: 1;
}

/* BORRAR: LAS IMAGENES SERAN 1:1 */
.proyectos img {
  height: 100%;
}

.portafolio-descripcion {
  background-color: #222222;
  border-radius: 0 10px 10px 10px;
  border: 2px solid #cc3333;
  position: absolute;
  padding: 8px 18px;
  font-size: 14px;
  font-weight: 500;
  color: #929292;
  top: 100%;
  left: 0;
  transform: translate(0, -50%);
}

/* BORRAR */
.portafolio-nombre {
  display: none;
}

.portafolio--diseño .portafolio-nombre {
  background-color: #cc3333;
  color: #222222;
}

.proyecto-detalles {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.proyecto-link--pagina {
  margin-bottom: 6px;
}

.proyecto-nombre {
  position: relative;
  margin-bottom: 15px;
  background-color: #cc3333;
  width: calc(100% + 36px);
  padding: 4px 12px;
}

.proyecto-link {
  margin-left: 20px;
  color: #929292;
}

.proyecto-link:hover {
  text-decoration: underline;
}

.proyecto-link--pagina::before {
  content: "";
  position: absolute;
  left: 12px;
  width: 16px;
  height: 16px;
  background-image: url("./assets/icons/world-icon.png");
  background-size: contain;
}

.proyecto-link--github::before {
  content: "";
  position: absolute;
  left: 12px;
  width: 16px;
  height: 16px;
  background-image: url("./assets/icons/github-icon.png");
  background-size: contain;
}

.ver-proyectos {
  position: absolute;
  bottom: 0;
  right: 0;
  border-radius: 10px 0 10px 0;
  background-color: #cc3333;
  color: #222222;
  padding: 5px 23px;
  font-size: 12px;
  font-weight: 500;
  transition: all 0.3s linear;
}

.ver-proyectos--hide {
  opacity: 0;
}

.portafolio--diseño .ver-proyectos {
  background-color: #222222;
  color: #929292;
  border: 2px solid #cc3333;
  padding: 3px 21px;
}

.arrow-button {
  display: none;
  opacity: 0;
  position: absolute;
  left: -65px;
  top: 50%;
  transform: translate(0, -50%);
  background: none;
  outline: none;
  border: 2px solid #cc3333;
  padding: 7px;
  border-radius: 10px 5px 5px 10px;
  transition: all 0.3s linear;
}

.arrow-button--show {
  display: initial;
  opacity: 1;
}

.arrow-button--right {
  right: -65px;
  left: auto;
  transform: translate(0, -50%) rotate(180deg);
}
