* {
  box-sizing: border-box;
  margin: 0;
}

body {
  font-family: "Montserrat";
  overflow-x: hidden;
}

img {
  display: block;
  width: 100%;
}

a {
  text-decoration: none;
  color: white;
}

.container {
  width: 90%;
  max-width: 1200px;
  margin: auto;
}

/* Header --------------------------------------------------------- */

header {
  position: absolute;
  width: 100%;
  top: 50px;
}

header .container {
  display: flex;
  align-items: center;
}

.link-logo {
  font-weight: 600;
  font-size: 30px;
  margin-right: 70px;
}

.nav-links__link {
  text-transform: uppercase;
  font-size: 11px;
  font-weight: 500;
  letter-spacing: 3px;
  opacity: 0.65;
}

.nav-links__link:not(:last-child) {
  margin-right: 30px;
}

.nav-links__link.active,
.nav-links__link:hover {
  opacity: 1;
}

.menu {
  position: absolute;
  top: 0;
  padding: 20px 20px 10px 20px;
  border-radius: 5px 0 0 5px;
  right: -300px;
  transition: all 1s ease-in-out;
  background-color: #cc3333;
}

.menu--show {
  right: 0;
}

.menu-button {
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
  width: 40px;
  margin-left: auto;
  display: none;
}

.menu-nav-links {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.menu-nav-link {
  text-align: center;
}

.menu-nav-link:not(:last-child) {
  margin: 0 0 15px 0;
}

.menu-social-link {
  width: 36px;
  padding: 8px;
  display: inline-block;
}

.menu-social-link:not(:last-child) {
  margin-right: 8px;
}

/* Hero Area ------------------------------------------------------- */

#hero {
  min-height: 120vh;
  /* background-color: #00000099; */
  display: flex;
  align-items: center;
}

.hero-message {
  font-size: 3.75rem;
  color: white;
  font-weight: 600;
  line-height: 1.5;
  max-width: 760px;
  margin-bottom: 5.8rem;
}

.btn {
  color: white;
  border: 2px solid #cc3333;
  padding: 20px 80px 20px 40px;
  font-size: 12px;
  font-weight: 600;
  letter-spacing: 3px;
  text-transform: uppercase;
  background-color: #00000096;
}

.social-links {
  position: absolute;
  top: 50px;
  right: 50px;
}

.social-links__logo-container {
  width: 36px;
  padding: 8px;
  margin-bottom: 16px;
}

/* Nuestros Servicios -------------------------------------------- */

#servicios {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 90px 0;
}

.section-header {
  position: relative;
  font-size: 48px;
  font-weight: 500;
  margin-bottom: 90px;
  z-index: 2;
}

.section-header::before {
  content: "";
  background-color: #222222;
  min-width: 10000px;
  height: 70px;
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  left: -20px;
  z-index: -1;
}

.section-header--white {
  color: white;
}

.servicio-top-info {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 100px;
}

.top-info-copy {
  color: #333333;
  width: 65%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.top-info-header {
  font-size: 48px;
  font-weight: 500;
  position: relative;
  margin-bottom: 75px;
  text-align: center;
}

.top-info-header::after {
  position: absolute;
  content: "";
  width: 190px;
  height: 7px;
  background-color: #cc3333;
  top: calc(100% + 20px);
  left: 50%;
  transform: translate(-50%, 0);
}

.top-info-txt {
  font-size: 18px;
  line-height: 30px;
  letter-spacing: 0.1em;
}

.top-info-icon-container {
  width: 25%;
}

.info-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  margin-bottom: 30px;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
  padding: 40px 28px;
  background-color: #cc3333;
  color: white;
  max-width: 350px;
  margin: 0 25px;
  margin-bottom: 60px;
}

.card-icon-container {
  /* width: 70px; */
  height: 60px;
  margin-bottom: 34px;
}

.card-icon-container img {
  width: auto;
  height: 100%;
}

.card-title {
  position: relative;
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 0.1em;
  margin-bottom: 60px;
}

.card-title::after {
  content: "";
  width: 190px;
  height: 3px;
  background-color: white;
  position: absolute;
  top: calc(100% + 25px);
  left: 50%;
  transform: translate(-50%, 0);
}

.card-description {
  text-align: center;
  line-height: 30px;
  letter-spacing: 0.1em;
  font-size: 14px;
}

.wide-card {
  flex-direction: row;
  align-items: center;
  max-width: 715px;
  padding: 45px 50px;
}

.card-icon-header-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 43%;
  margin-right: 75px;
  position: relative;
  top: 20px;
}

.card-icon-header-container .card-icon-container {
  height: 76px;
}

/* Portafolio -------------------------------------------------------- */

#portafolio {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #333333;
  position: relative;
  padding: 90px 0;
}

.section-header--gray {
  color: #929292;
}

.portafolios-container {
  display: flex;
  justify-content: center;
}

.portafolio {
  background-color: #222222;
  padding: 65px;
  border-radius: 10px;
  position: relative;
  margin: 0 80px;
  cursor: pointer;
  transition: all 0.3s linear;
  position: relative;
}

.portafolio:hover .ver-proyectos {
  padding: 7px 30px;
}

.proyectos {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  border-radius: 10px;
  overflow: hidden;
  opacity: 0;
  transition: all 0.3s linear;
  display: flex;
  scroll-behavior: smooth;
}

.proyectos--show {
  opacity: 1;
}

/* BORRAR: LAS IMAGENES SERAN 1:1 */
.proyectos img {
  height: 100%;
}

.portafolio-descripcion {
  background-color: #222222;
  border-radius: 0 10px 10px 10px;
  border: 2px solid #cc3333;
  position: absolute;
  padding: 8px 0;
  font-size: 14px;
  font-weight: 500;
  color: #929292;
  top: 100%;
  left: 0;
  transform: translate(0, -50%);
}

.portafolio-nombre {
  text-align: center;
  margin: 0 18px;
  max-height: 20px;
  transition: all 0.3s ease-out;
}

.portafolio-nombre--hide {
  max-height: 0;
}

.portafolio--diseño .portafolio-nombre {
  background-color: #cc3333;
  color: #222222;
}

.proyecto-detalles {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-height: 0;
  overflow: hidden;
  transition: all 0.3s ease-in-out;
}

.proyecto-detalles--show {
  max-height: 160px;
}

.proyecto-nombre {
  color: #222222;
  font-weight: 600;
  margin-bottom: 12px;
  background-color: #cc3333;
  width: 100%;
  padding: 4px 12px;
}

.proyecto-link {
  margin: 0 18px 5px 38px;
  color: #929292;
}

.proyecto-link:hover {
  text-decoration: underline;
}

.proyecto-link--pagina::before {
  content: "";
  position: absolute;
  left: 12px;
  width: 16px;
  height: 16px;
  background-image: url("./assets/icons/world-icon.png");
  background-size: contain;
  display: none;
}

.proyecto-link--github::before {
  content: "";
  position: absolute;
  left: 12px;
  width: 16px;
  height: 16px;
  background-image: url("./assets/icons/github-icon.png");
  background-size: contain;
  display: none;
}

.proyecto-link--show::before {
  display: initial;
}

.ver-proyectos {
  position: absolute;
  bottom: 0;
  right: 0;
  border-radius: 10px 0 10px 0;
  background-color: #cc3333;
  color: #222222;
  padding: 5px 23px;
  font-size: 12px;
  font-weight: 500;
  transition: all 0.3s linear;
}

.ver-proyectos--hide {
  opacity: 0;
}

.portafolio--diseño .ver-proyectos {
  background-color: #222222;
  color: #929292;
  border: 2px solid #cc3333;
  padding: 3px 21px;
}

.arrow-button {
  display: none;
  opacity: 0;
  position: absolute;
  left: -65px;
  top: 50%;
  transform: translate(0, -50%);
  background: none;
  outline: none;
  border: 2px solid #cc3333;
  padding: 7px;
  border-radius: 10px 5px 5px 10px;
  transition: all 0.3s linear;
}

.arrow-button--show {
  display: initial;
  opacity: 1;
}

.arrow-button--right {
  right: -65px;
  left: auto;
  transform: translate(0, -50%) rotate(180deg);
}

/* Contacto ---------------------------------------------------------- */

#contacto {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 90px 0;
  background-color: #cc3333;
}

.contacto-card {
  position: relative;
}

.contacto-card--phone {
  margin-right: 120px;
  margin-bottom: 80px;
}

.contacto-card--email {
  margin-left: 120px;
}

.contacto-dato-container {
  width: 245px;
  background-color: #222222;
  padding: 8px 0;
  border-radius: 10px;
  border: 2px solid #929292;
}

.contacto-dato {
  font-size: 15px;
  font-weight: 500;
  color: #929292;
}

.contacto-dato--phone {
  margin-left: 65px;
}

.contacto-dato--email {
  margin-left: 22px;
}

.contacto-icon-container {
  max-width: 125px;
  background-color: #222222;
  padding: 30px;
  border-radius: 100%;
  border: 2px solid #929292;
  position: absolute;
}

.contacto-icon-container--phone {
  top: -12px;
  left: -90px;
}

.contacto-icon-container--email {
  bottom: -12px;
  right: -90px;
}

/* Footer ------------------------------------------------------------ */

footer {
  background-color: #222222;
  padding: 17px 0;
}

.footer-content {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.creditos {
  font-weight: 300;
  font-size: 12px;
  letter-spacing: 0.16em;
  color: #929292;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}

.footer-logo {
  max-width: 34px;
}

.footer-social {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  max-height: 36px;
}

.footer-social-link {
  display: inline-block;
  width: 36px;
  padding: 8px;
}

.footer-social-link:not(:last-child) {
  margin-right: 8px;
}

/* Responsive ------------------------------------------------------ */

@media (max-width: 1200px) {
  .section-header {
    font-size: 36px;
  }

  .top-info-header {
    font-size: 36px;
  }

  .portafolios-container {
    flex-direction: column;
    align-items: center;
  }

  .portafolio:nth-child(1) {
    margin-bottom: 70px;
  }
}

@media (max-width: 1000px) {
  .hero-message {
    font-size: 2rem;
    max-width: 500px;
  }

  .servicio-top-info {
    margin-bottom: 80px;
    justify-content: space-evenly;
  }

  .top-info-copy {
    width: auto;
  }

  .top-info-header {
    margin-bottom: 30px;
  }

  .top-info-txt {
    display: none;
  }

  .top-info-icon-container {
    max-width: 30%;
  }

  .card {
    width: 280px;
    padding: 30px 0;
    justify-content: center;
  }

  .card-title {
    font-size: 14px;
    margin-bottom: 0;
  }

  .card-title::after {
    display: none;
  }

  .card-description {
    display: none;
  }

  .wide-card {
    flex-direction: column;
    justify-content: center;
  }

  .card-icon-header-container {
    margin: 0;
    position: static;
  }
}

@media (max-width: 800px) {
  .nav-links {
    display: none;
  }

  .menu-button {
    display: initial;
  }

  .social-links {
    display: none;
  }

  .top-info-header {
    font-size: 28px;
  }

  .footer-content {
    justify-content: space-between;
  }

  .creditos {
    position: static;
    transform: none;
  }

  .footer-social {
    display: none;
  }
}

@media (max-width: 700px) {
  .hero-message {
    font-size: 1.5rem;
    max-width: 400px;
  }

  .btn {
    font-size: 9px;
    padding: 15px 50px 15px 30px;
  }

  #servicios {
    padding: 50px 0;
  }

  .section-header {
    font-size: 30px;
    margin-bottom: 60px;
  }

  .section-header::before {
    height: 55px;
  }

  .top-info-header {
    font-size: 20px;
  }

  .top-info-header::after {
    height: 5px;
    top: calc(100% + 10px);
  }

  #portafolio {
    padding: 50px 0;
  }

  .portafolio {
    margin-left: 0;
    margin-right: 0;
  }

  #contacto {
    padding: 50px 0;
  }

  .contacto-dato {
    font-size: 12px;
  }

  .contacto-dato-container {
    padding: 5px 0;
    width: 220px;
  }

  .contacto-dato--email {
    margin-left: 29px;
  }

  .contacto-icon-container {
    max-width: 90px;
    padding: 23px;
  }

  .contacto-icon-container--phone {
    top: -10px;
    left: -40px;
  }

  .contacto-icon-container--email {
    bottom: -10px;
    right: -40px;
  }

  .contacto-card--phone {
    margin-right: 95px;
    margin-bottom: 55px;
  }

  .contacto-card--email {
    margin-left: 95px;
  }

  footer {
    padding: 10px 0;
  }

  .footer-logo {
    max-width: 20px;
  }

  .creditos {
    font-size: 10px;
  }
}

@media (max-width: 500px) {
  .btn {
    font-size: 7px;
  }

  .section-header {
    font-size: 25px;
  }

  .section-header::before {
    height: 45px;
  }

  .top-info-header {
    margin-bottom: 15px;
  }

  .top-info-icon-container {
    max-width: 15%;
  }

  .card {
    width: 250px;
    padding: 25px 0;
  }

  .card-icon-container {
    height: 50px;
    margin-bottom: 27px;
  }

  .card-icon-header-container .card-icon-container {
    height: 50px;
  }

  .card-title {
    font-size: 12px;
  }

  .portafolio-nombre {
    text-align: center;
    margin: 0 12px;
    font-size: 12px;
  }

  .ver-proyectos {
    top: 0;
    bottom: auto;
    border-radius: 0 10px 0 10px;
  }

  .arrow-button {
    width: 30px;
  }

  .arrow-button--right {
    right: 5px;
  }

  .arrow-button--left {
    left: 5px;
  }

  .contacto-dato-container {
    width: 230px;
  }

  .contacto-dato--email {
    margin-left: 18px;
  }

  .contacto-dato--phone {
    margin-left: 82px;
  }

  .contacto-icon-container {
    max-width: 70px;
    padding: 17px;
  }

  .contacto-icon-container--phone {
    top: -5px;
    left: -10px;
  }

  .contacto-icon-container--email {
    bottom: -5px;
    right: -10px;
  }

  .contacto-card--phone {
    margin-right: 0px;
  }

  .contacto-card--email {
    margin-left: 0px;
  }
}
